#wrap{
  margin-top: -30px;
  margin-left: 30px;
  background-color: rgb(25, 24, 24);
}

.gambar-1{
  padding: 2.75rem;
}

.judul-1{
  text-align: center;
  color: #fff;
}

.col-2{
  margin-right: 30px;
}

#baris{
  display: flex;
  justify-content: between;
  align-items: center;
  margin-top: 30px;
  margin-left: 20px;
}

.Button-Fav {
  text-align: center;
  margin: auto;
  align-self: center;
}