.navbar {
  background-color: rgb(118, 22, 22);
}

.wraps{
  margin-left: 50px;
}

.logoo{
    width: 40px;
    height: 40px;
    margin-top: 3px;
  }
  
#Home, #Detail, #Favorite{
  margin-top: 5px;
  margin-right: 5px;
}

.active-nav {
  color: #dcaa9a !important;
  font-weight: 700;
  margin-top: 5px;
}




  